body {
  font-family: "Lato", sans-serif;
  background-color:aliceblue;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(79, 99, 158);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(79, 99, 158);
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.openbtn:hover {
  background-color: rgb(97, 111, 153);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.foto1{
  width: 130px;
  height: 180px;
  margin-right: 80px;
  display: inline-block;
}
h2, h3{
  margin-left: 350px;
  margin-top:50px;
  margin-bottom: 0;
}
h4{
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 20px;
}

.gegevens{
  text-align: left;
  padding-left: 150px;
  margin-bottom: 0;
}

.CV{
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgb(79, 99, 158);
  border: 10px;
  border-radius: 50px;
  width:800px;
  height: 1695px;
  color: #f1f1f1;
}
.jaartal{
  margin-top: 10px;
}

.opleiding{
  text-align: center;
  margin-top: 70px;
}
.vaardighedenTekst{
  text-align: center;
}
h5{
  
  text-decoration: underline;
}
.Werk{
  display: block;
  float: left;
}
.datum{
  display: block;
  float: right;
  margin-right: 50px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }